# Node.js / TypeScript
node_modules/
dist/
build/
coverage/
*.log

# Playwright
frontend/test-results/
frontend/playwright-report/
frontend/.cache/
/frontend/playwright.config.ts

# Vitest
vitest-report/
backend/test-results/
backend/vitest-report/
backend/.cache/
/backend/vitest.config.ts
/backend/tests/
/cli/tests/

#ESLint
.eslintcache
.eslint*


# Environment
.env*

# OS / Editor
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Database
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Specs files
specs

# Coding assistant
.copilot/
AGENTS.md